default:
    translation:
        locale: en
    suites:
        suite01:
            paths:
                - '%paths.base%/features'
            contexts:
                - DMarynicz\Tests\Behat\Context\ParallelBehatContext
                - DMarynicz\Tests\Behat\Context\ResolveDirectorySeparatorContext
                - DMarynicz\Tests\Behat\Context\EnvironmentContext
    extensions:
        DMarynicz\BehatParallelExtension\Extension: ~

