default:
    gherkin:
        filters:
            tags: ~@skip
    translation:
        locale: en
    suites:
        suite01:
            paths:
                - '%paths.base%/features'
            contexts:
                - DMarynicz\Tests\Behat\Context\ParallelBehatContext
                - DMarynicz\Tests\Behat\Context\EnvironmentContext
                - DMarynicz\Tests\Behat\Context\SimulateTestContext
    extensions:
        DMarynicz\BehatParallelExtension\Extension: ~

