default:
    suites:
        suite01:
            paths:
                - '%paths.base%/tests/features/suite01'
            contexts:
                - DMarynicz\Tests\Behat\Context\SimulateTestContext
        suite02:
            paths:
                - '%paths.base%/tests/features/suite02'
            contexts:
                - DMarynicz\Tests\Behat\Context\SimulateTestContext
    extensions:
        DMarynicz\BehatParallelExtension\Extension: ~
