includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
  ignoreErrors:
    - '#Method \S+ has no return typehint specified.#'
  level: max
  paths:
    - ./src
    - ./tests
