default:
    suites:
        suite01:
            paths:
                - '%paths.base%/suite01'
            contexts:
                - DMarynicz\Tests\Behat\Context\ChunkTestContext:
                    filesPath: '%paths.base%'
        suite02:
            paths:
                - '%paths.base%/suite02'
            contexts:
                - DMarynicz\Tests\Behat\Context\ChunkTestContext:
                    filesPath: '%paths.base%'
    extensions:
        DMarynicz\BehatParallelExtension\Extension: ~
