name: PHP Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  quality:
    runs-on: 'ubuntu-22.04'
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-quality-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-quality-php
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: Run phpcs
        run: composer phpcs
      - name: Run phpstan
        run: composer phpstan

  test:
    strategy:
      matrix:
        os: ['ubuntu-22.04']
        version: [ '7.4', '8.0', '8.1', '8.2', '8.3', '8.4']
        include:
          - os: 'ubuntu-22.04'
            version: '7.4'
            symfony: '^4.0'
          - os: 'ubuntu-22.04'
            version: '7.4'
            symfony: '^5.0'
          - os: 'ubuntu-22.04'
            version: '8.1'
            symfony: '^6.0'
          - os: 'ubuntu-22.04'
            version: '8.2'
            symfony: '^7.0'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.version }}

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ matrix.version }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-${{ matrix.version }}

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Require symfony
      if: ${{ matrix.symfony }}
      run: |
        composer require  --no-update symfony/process:${{ matrix.symfony }} \
          symfony/console:${{ matrix.symfony }}	\
          symfony/serializer:${{ matrix.symfony }} \
          symfony/dependency-injection:${{ matrix.symfony }} \
          symfony/event-dispatcher:${{ matrix.symfony }} \
          symfony/yaml:${{ matrix.symfony }} \
          symfony/expression-language:${{ matrix.symfony }}
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md
    - name: Run PHPUnit
      run: composer phpunit
    - name: Run Behat
      run: composer behat
